# Virtual environment
.venv/

# SQLite database
*.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / build
dist/
build/
*.egg-info/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
