# Virtual environment
.venv/

# SQLite database
*.db

# Python cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Distribution / build
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# SQLite database files
*.db
